<div class="print-posts">
  <% @posts.each do |post| %>
    <div class="single-post">
      <h3 class="single-post-title"><%= link_to post.title, post_path(post) %></h3>
      <p class="single-post-links"><%= link_to 'Edit', edit_post_path(post) %></p>
      <p class="single-post-text respect-breaks"><%= post.text %></p>
    </div>
  <% end %>
</div>
