
/*----------- CSS Reset ------------- */

* {
  margin: 0;
  padding: 0;
}

/*----------- Page container setup ------------- */

body {
  background-color: #ECF0F1;
}

div.page-container {
  min-height: 70vh;
  background-color: #FFF;
}

/*----------- Nav bar ------------- */

.nav-base {
  width: 100%;
  height: 45px;
  background-color: #304269;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.nav li {
  float: right;
  display: inline-block;
  font-family: "brandon-grotesque", sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
}

.nav a {
  text-decoration: none;
  color: #91BED4;
  display: inline-block;
  background-color: #304269;
  transition: .3s background-color;
  padding: 2px 15px;
  margin: 0;
}

.nav a:hover {
  color: #F26101;
  background-color: #FFF;
}

.logo {
  float: left;
}

/* ---------- Header ---------- */

div.post-bg {
  background-size: cover;
  background-position: center;
}

div.header {
  width: 100%;
  height: 15vw;
}

/* ----------- Content ---------- */

div.content-container {
  max-width: 850px;
  margin: 0 auto;
  padding: 25px;
}

h1.header-title {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 55px;
  line-height: 50px;
  color: #F26101;
  text-transform: uppercase;
}

p.post-text {
  font-family: "leitura-news", serif;
  font-size: 18px;
  font-weight: lighter;
  color: #4d4d4d;
  white-space: pre-wrap;
  line-height: 1.8;
}
